{% include 'search.html' %}

{% block content %}

<h1>Name : {{ Propertys.Name }}</h1>
	<li>BHK : {{ Propertys.BHK }}</li>
	<li>Price : {{ Propertys.Price }}</li>
	<li>Category : {{ Propertys.Category }}</li>
	<li>Area : {{ Propertys.Area }}</li>
	<li>Balconies : {{ Propertys.Balconies }}</li>
	<li>Garden :{{ Propertys.Garden }}</li>
	<li>Gym : {{ Propertys.Gym }}</li>
	<li>Outdoor_sports : {{ Propertys.Outdoor_sports }}</li>
	<li>parking :{{ Propertys.parking }}</li>
	<li>vastu : {{ Propertys.vastu }}</li>



{% endblock %}